table {
    margin: 10px;
    border: 1px solid black;
}
table.paused {
    opacity: 0.4;
}
table.lost {
    opacity: 0.4;
    background: red;
}
td {
    width: 6px;
    height: 6px;
}
td.empty {
    background: white;
}
td.snake-head, td.snake-body {
    background: blue;
}
td.dot {
    background: green;
}